.contentContainer {
  padding: 0 var(--app-padding) var(--app-padding);

  margin-left: var(--navbar-width);

  p {
    margin-top: 2rem;
  }

  h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  section {
    background: var(--white);
    border: 1px solid #dfe0eb;
    border-radius: 0.5rem;
    padding: 1rem 1.4rem;
  }

  @media print {
    margin-left: 0;
  }
}
