.menuHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.25rem;
  background: var(--gray-800);
  color: var(--white);
  font-size: 1.1rem;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background: none;
    opacity: 0.6;
    font-size: 1.1rem;
    transition: opacity 0.2s;
    height: 2.25rem;

    &:hover {
      opacity: 1;
    }

    & + button {
      margin-left: 0.5rem;
    }
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      width: 1.6rem;
    }
  }
}

.btnActive {
  border-bottom: 4px solid #f01212;
  opacity: 1 !important;

  svg {
    margin-bottom: -4px;
  }
}
