.menuBody {
  user-select: none;

  h4 {
    font-size: 1rem;
    margin-top: 0.25rem;
    color: var(--gray-600);
  }

  ul {
    & + h4 {
      margin-top: 0.5rem;
    }
  }

  div {
    padding: 0 1rem;
    height: unset !important;

    select {
      width: 100%;
      padding: 0 0.5rem;
      height: 2rem;
      border-radius: 0.25rem;
      border: 1px solid #d8d8d8;
      background: #f8f8f8;
      font-size: 1rem;
      margin-top: 0.1rem;
      margin-bottom: 0.5rem;

      &:focus {
        outline: none;
      }
    }
  }

  li {
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    padding: 0 1rem;

    span {
      line-height: 1.75rem;
      display: flex;
      align-items: center;
    }

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.05);
      color: rgb(192, 6, 6);
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0.75rem;
      height: 1.75rem;
      color: var(--gray-400);
      font-size: 1.25rem;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.2s, color 0.2s;

      &:hover {
        color: var(--gray-700);
      }
    }
  }

  .reprocessButton {
    margin: 0 1rem;
    margin-top: 0.1rem;
    width: calc(100% - 2rem);
    height: 1.75rem;
    font-size: 1rem;
    background: var(--green-700);
    color: var(--white);
    border-radius: 0.25rem;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(1.2);
    }
  }

  .itemActive {
    background-color: rgba($color: #000000, $alpha: 0.05);
    color: rgb(192, 6, 6);
    border-left: 4px solid #f01212;
    padding-left: calc(1rem - 4px);

    & button {
      visibility: visible;
      opacity: 1;
    }
  }
}
