.mapEditor {
  cursor: default;
  position: absolute;
  left: 0;
  top: 0;
  width: 240px;
  height: 92vh;
  color: var(--gray-900);
  margin: 1rem 0.4rem;
  z-index: 100;
  background-color: white;
  box-shadow: 0px 2px 6px rgba($color: black, $alpha: 0.3);
  font-size: 1rem;

  header,
  h4,
  p,
  li {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.menuBodyContainer {
  height: calc(92vh - 2.25rem);

  div {
    height: inherit;
    overflow: auto;
  }

  p {
    opacity: 0.3;
    height: 1.75rem;
    padding: 0.1rem 1rem;
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
  }

  ::-webkit-scrollbar {
    height: 16px;
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #e0e0e0;
  }
}
