* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-width: 240px;
  --header-height: 4rem;
  --app-padding: 1rem;

  --white: #ffffff;

  --gray-100: #f7f8fc;
  --gray-300: #a8a8b3;
  --gray-400: #7f7f88;
  --gray-600: #424450;
  --gray-700: #373840;
  --gray-800: #2e2f36;
  --gray-850: #1f2729;
  --gray-900: #0f0e0e;

  --green-700: #07781f;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--gray-100);
  color: var(--gray-900);
}

body,
input,
textarea,
section,
button {
  font: 400 1.25rem 'Roboto', sans-serif;
}

button {
  cursor: pointer;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

fieldset {
  border: 0;
}

.Toastify__toast {
  margin-bottom: 0.5rem !important;
  min-height: 32px !important;
}

.Toastify__toast-container {
  font-size: 1rem;
  text-align: center;
  width: unset !important;
  min-width: 180px !important;
}

.Toastify__toast-container--bottom-center {
  bottom: 0 !important;
}

.Toastify__toast--info {
  background-color: #404040 !important;
  opacity: 0.8;
}

.Toastify__toast--success {
  background-color: #07781f !important;
  opacity: 0.8;
}

.Toastify__toast--error {
  background-color: #5e0b0b !important;
  opacity: 0.8;
}

.reactModalOverlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.reactModalContent {
  width: 100%;
  max-width: 420px;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 0.25rem;
  position: relative;
}

.reactModalClose {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  border: 0;
  background: transparent;
  opacity: 0.4;

  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

// Disable google maps InfoWindow close button
.gm-style-iw {
  button {
    display: none !important;
  }
}
