.decisionVariables {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  fieldset {
    margin-top: 2rem;

    div {
      margin-top: 0.75rem;
      position: relative;

      & + div {
        margin-top: 1.75rem;
      }

      input {
        border: 0;
        border-bottom: 1px solid var(--gray-600);
        width: 180px;
        outline: none;

        &::placeholder {
          color: var(--gray-300);
        }
      }

      span {
        margin-left: 0.25rem;
        opacity: 0.8;
        transition: opacity 0.2s;
      }

      &:hover {
        span {
          opacity: 1;
        }
      }
    }

    label {
      display: block;
      position: absolute;
      font-size: 1rem;
      color: #d80000;
    }
  }
}

.buttonContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;

  button {
    background: #07781f;
    font-size: 1rem;
    color: var(--white);
    width: 140px;
    height: 2rem;
    border-radius: 4px;

    transition: filter 0.2s;

    &:hover:enabled {
      filter: brightness(1.2);
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}
