.container {
  padding: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  background: var(--gray-100) !important;
  font-size: 1rem !important;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      margin-right: 0.25rem;
    }
    margin-bottom: 0.25rem;

    select {
      width: 250px;
      padding: 0 0.5rem;
      height: 2rem;
      border-radius: 0.25rem;
      border: 1px solid #d8d8d8;
      background: #f8f8f8;
      font-size: 1rem;
      margin-top: 0.1rem;
      margin-bottom: 0.5rem;
      margin-right: 1rem;

      &:focus {
        outline: none;
      }
    }

    button {
      background: none;
      font-size: 1.5rem;
      opacity: 0.4;

      transition: opacity 0.2s;

      &:hover {
        opacity: 0.6;
      }
    }

    @media print {
      display: none;
    }
  }

  section {
    @media print {
      padding-left: 0;
      padding-right: 0;
      border: none;
    }
  }
}

.content {
  margin-top: 1rem;
}

.grid {
  margin: 1rem 0 2rem 0;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 1rem;

  div {
    border: 1px solid var(--gray-400);

    @media print {
      padding: 0 1rem;
      border-radius: 0.25rem;
    }
  }

  h4 {
    font-size: 1.2rem;
    background: var(--gray-800);
    color: var(--white);
    text-align: center;
    height: 1.75rem;
    line-height: 1.75rem;

    @media print {
      color: black;
      text-align: left;
    }
  }

  p {
    margin-top: 0.25rem;
    padding: 0 1rem;

    @media print {
      padding: 0;
    }
  }
}
