.headerContainer {
  height: var(--header-height);
  margin-left: var(--navbar-width);

  @media print {
    display: none;
  }
}

.headerContent {
  height: var(--header-height);
  padding: 0 var(--app-padding);

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--gray-400);
  font-weight: bold;
  font-size: 1.1rem;

  nav {
    height: var(--header-height);
    display: flex;
    align-items: center;

    button {
      display: flex;
      align-items: center;
      border: 0;
      background: transparent;
      color: var(--gray-400);
      margin-left: 2rem;
      font-size: 1rem;

      img {
        height: 2.5rem;
        border-radius: 2rem;
        margin-left: 0.5rem;
        opacity: 0.8;
        transition: opacity 0.2s;
      }

      transition: color 0.2s;

      &:hover {
        color: var(--gray-700);

        img {
          opacity: 1;
        }
      }
    }
  }
}
