.navbar {
  position: fixed;
  width: var(--navbar-width);
  height: 100%;
  background: var(--gray-800);
  color: var(--white);

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    padding: 1.5rem;

    img {
      height: 3.75rem;
      background: var(--white);
    }
  }

  @media print {
    display: none;
    width: 0;
  }
}

.navigation {
  a {
    display: flex;
    align-items: center;

    font-size: 1.25rem;
    color: #d8dadc;
    height: 3rem;
    line-height: 3rem;
    padding: 0.25rem 1.5rem;

    svg {
      opacity: 0.4;
    }

    span {
      margin-left: 1.25rem;
    }

    transition: background-color 0.2s;

    &:hover {
      background: var(--gray-600);
    }

    &:first-child {
      margin-top: 1rem;
    }

    &.active {
      font-weight: bold;
      background: var(--gray-700);
      border-left: 5px solid var(--white);
      color: var(--white);

      svg {
        margin-left: -5px;
        opacity: 0.9;
      }
    }
  }
}
