.newBusStopModal {
  font-size: 1rem;

  h2 {
    color: var(--gray-800);
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  fieldset {
    & + fieldset {
      margin-top: 1.5rem;
    }

    & + h3 {
      margin-top: 1.75rem;
    }

    span {
      display: block;
      position: absolute;
      font-size: 1rem;
      color: #d80000;
    }
  }

  input[type='number'] {
    width: 100%;
    padding: 0 0.5rem;
    height: 2.2rem;
    margin-top: 0.2rem;
    border-radius: 0.25rem;
    border: 1px solid #d8d8d8;
    background: #f8f8f8;
    font-size: 1rem;

    &::placeholder {
      color: var(--gray-300);
    }
  }

  div {
    margin-top: 1.25rem;
    display: flex;
    align-items: center;
    height: 2.2rem;
  }

  input[type='checkbox'] {
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.5rem;
  }

  button[type='submit'] {
    width: 120px;
    height: 2.2rem;
    padding: 0 1.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    background: var(--green-700);
    color: var(--white);
    float: right;
    border-radius: 0.25rem;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(1.2);
    }
  }
}
