.vehicleForm {
  font-size: 1rem;

  h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  fieldset {
    label {
      display: block;
    }

    & + fieldset {
      margin-top: 1.5rem;
    }

    & + h3 {
      margin-top: 1.75rem;
    }

    span {
      display: block;
      position: absolute;
      font-size: 1rem;
      color: #d80000;
    }
  }

  input {
    width: 300px;
    padding: 0 0.5rem;
    height: 2.2rem;
    margin-top: 0.2rem;
    border-radius: 0.25rem;
    border: 1px solid #d8d8d8;
    background: #f8f8f8;
    font-size: 1rem;

    &::placeholder {
      color: var(--gray-300);
    }
  }

  .checkBoxContainer {
    display: flex;
    align-items: center;

    input[type='checkbox'] {
      height: 1.25rem;
      width: 1.25rem;
      margin-right: 0.5rem;
    }

    label {
      display: inline;
    }
  }

  select {
    width: 300px;
    padding: 0 0.5rem;
    height: 2.2rem;
    margin-top: 0.2rem;
    border-radius: 0.25rem;
    border: 1px solid #d8d8d8;
    background: #f8f8f8;
    font-size: 1rem;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  button {
    width: 120px;
    height: 2.2rem;
    padding: 0 1.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    background: var(--gray-400);
    color: var(--white);
    float: right;
    border-radius: 0.25rem;
    margin-left: 1rem;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(1.2);
    }
  }

  button[type='submit'] {
    background: var(--green-700);
  }
}
