.container {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;

      button {
        display: flex;
        align-items: center;
        font-size: 1.25rem;
      }

      select {
        width: 240px;
        padding: 0 0.5rem;
        margin-right: 0.5rem;
        height: 2rem;
        border-radius: 0.25rem;
        border: 1px solid #d8d8d8;
        background: #f8f8f8;
        font-size: 1rem;
      }
    }

    button {
      font-size: 2rem;
      background: transparent;
      color: var(--gray-400);

      transition: color 0.15s;

      &:hover {
        color: var(--gray-800);
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #e8e8e8;

    th {
      font-size: 1rem;
      color: var(--gray-400);
      font-weight: 400;
      padding: 1rem 2rem 0.5rem;
      text-align: left;
      line-height: 1rem;
    }

    thead {
      cursor: default;
    }

    tbody {
      cursor: pointer;

      tr {
        button {
          opacity: 0;
          transition: all 0.2s;
        }

        transition: background-color 0.2s;
        &:hover {
          background: #fafafa;

          button {
            opacity: 1;
          }
        }
      }
    }

    td {
      font-size: 1rem;
      padding: 0.5rem 0 0.5rem 2rem;
      border-top: 1.5px solid #e8e8e8;
      color: var(--text-body);

      span {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
          display: flex;
          background: transparent;
          align-items: center;
          justify-content: center;
          width: 2rem;
          margin-left: 0.5rem;
          font-size: 1rem;
          color: var(--gray-400);

          &:hover {
            color: var(--gray-900);
          }
        }
      }
    }
  }

  p {
    display: block;
    text-align: center;
    opacity: 0.2;
    font-size: 1rem;
  }
}
